# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore dotenv and config
.env

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS and Windows files
.DS_Store
Thumbs.db
